<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <gg2_toast>
            <general>
                <active>1</active>
            </general>
            <success>
                <position>top-center</position>
                <bgColor>#02c23c</bgColor>
                <icon>success</icon>
                <textAlign>left</textAlign>
                <textColor>#ffffff</textColor>
                <loader>1</loader>
                <loaderBg>#ffffff</loaderBg>
                <hideAfter>7000</hideAfter>
                <showHideTransition>slide</showHideTransition>
                <heading>Success</heading>
            </success>
            <notice>
                <position>top-center</position>
                <bgColor>#f79200</bgColor>
                <icon>warning</icon>
                <textAlign>left</textAlign>
                <textColor>#ffffff</textColor>
                <loader>1</loader>
                <loaderBg>#ffffff</loaderBg>
                <hideAfter>7000</hideAfter>
                <showHideTransition>slide</showHideTransition>
                <heading>Notice</heading>
            </notice>
            <warning>
                <position>top-center</position>
                <bgColor>#f79200</bgColor>
                <icon>warning</icon>
                <textAlign>left</textAlign>
                <textColor>#ffffff</textColor>
                <loader>1</loader>
                <loaderBg>#ffffff</loaderBg>
                <hideAfter>7000</hideAfter>
                <showHideTransition>slide</showHideTransition>
                <heading>Warning</heading>
            </warning>
            <error>
                <position>top-center</position>
                <bgColor>#e61c24</bgColor>
                <icon>error</icon>
                <textAlign>left</textAlign>
                <textColor>#ffffff</textColor>
                <loader>1</loader>
                <loaderBg>#ffffff</loaderBg>
                <hideAfter>7000</hideAfter>
                <showHideTransition>slide</showHideTransition>
                <heading>Error</heading>
            </error>
            <info>
                <position>top-center</position>
                <bgColor>#0085d6</bgColor>
                <icon>info</icon>
                <textAlign>left</textAlign>
                <textColor>#ffffff</textColor>
                <loader>1</loader>
                <loaderBg>#ffffff</loaderBg>
                <hideAfter>7000</hideAfter>
                <showHideTransition>slide</showHideTransition>
                <heading>Info</heading>
            </info>
        </gg2_toast>
    </default>
</config>
